* {
  font-family: 'Noto Sans', sans-serif;
}

header {  
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: pink;
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 18px;
}

.container {
  padding-top: 50px;
  text-align: center;
}

hero {
  padding: 30px;
  color: #fff;
  display: block;
  background-color: #6641E3;
  max-height: 280px;
}

.email > input {
  max-width: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.submit > input {
  font-weight: 700;
  max-width: 100px;
  width: 100%;
  border: 0;
  padding: 5px 0;
  margin-bottom: 15px;
  background-color: #fff;
  text-transform: uppercase;
}

.logo {
  margin-left: 17px;
}

.logo > img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 0;
}

@media (max-width: 650px) {
  nav {
    font-size: 0.9rem;
    width: 156px;
  }
}

.nav-link {
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

#video {
  max-width: 600px;
  width:100vw;
  height: calc(min(600px, 100vw) * 9 / 16);;
}
